extends layout

block content
  -let destnations4 = `dispatch(\"/pens/create\")`
  button.btn( class="btn-primary m-1", onclick= destinations4) View
  
  h1= title
  
  div(class="container-fluid")
        div(class="row m-1")
            -
                let pens = results
            each pen, index in pens 
            
                -let destination1 = `dispatch(\"/pens/update?id=${pen._id}\")`
                -let destinations2 = `dispatch(\"/pens/detail?id=${pen._id}\")`
                -let destinations3 = `dispatch(\"/pens/delete?id=${pen._id}\")`
                div(class="col-sm-2" onclick=`buy(${index})`) #{pen.pentype} #{pen.color} #{pen.price}
                 button.btn( class="btn-success m-1", onclick= destinations2) Detail
                 button.btn( class="btn-primary m-1", onclick= destination1) Update
                 button.btn( class="btn-danger m-1", onclick= destinations3) Delete
            script.
                function buy(itemNo){
                    alert(`You purchased Item ${itemNo+1}`)
                } 
                function dispatch(path){
                    window.location.href=path
                }